/* INDEX */
.page-header h1{
    padding-top: 2rem;
    font-size: 3rem;
}

.page-header p{
    padding-bottom: 2rem;
}

.menu {
    margin: 2.5rem 0 2rem 0;
}

footer p {
    font-weight: 300;
}

footer {
    margin-bottom: 30px;
}

::selection {
    text-shadow: none;
    background: rgba(0,0,0,0.2);
}

.progress {
    height: 1.4rem;
}

.progress .progress-bar {
    font-size: 12px;
    line-height: 12px;
}

.panel .panel-heading{
    font-weight: 300;
    color: white;
    background: #9F5F9F;
    margin-bottom: 5px;
}

.panel .panel-body{
    font-size: 18px;
    font-weight: 300;
}


.acc .row{
    padding-top: 20px;
}

.table {
    font-weight: 300;
}

#multiTable tr td:first-child {
    background-color: #ffe1ff;
}

#ticketTable tr td:nth-child(4) {
    background-color: #ffeaff;
    border-left: 5px solid white;
}

td.under-strong {
    background-color: #e6e6e6;
}

td.correct {
    background-color: #cdffbf;
}

.error {
    margin-bottom: 10px;
}

.mini .panel .panel-heading {
    background-color: #1a6dca;
}

.mini #multiTable tr td:first-child {
    background-color: #e1eaff;
}

.mini #ticketTable tr td:nth-child(4) {
    background-color: #e1eaff;
}